.commentPage{
    min-height: 100vh;
}

.addComment{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 15px auto;
}

.inputPlaceComment{
    width: 90%;
    margin: 5px auto;
    height: 30px;
}

.inputDateComment{
    width: 60%;
    margin: 5px auto;
    height: 30px;
}

.inputDateComment::placeholder{
    text-align: center;
}

.inputTextComment{
    width: 90%;
    margin: 5px auto;
    height: 200px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.buttonAddComment{
    width: 50%;
    font-size: larger;
    font-weight: bold;
    margin: 15px auto;
    border: double;
}

@media screen and (min-width: 960px){
    .addComment{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 15px auto;
    }
    
    .form-control.inputPlaceComment{
        width: 50%;
        height: 50px;
    }
    
    .inputDateComment{
        width: 20%;
        height: 50px;
    }
    
    .form-control.inputTextComment{
        width: 50%;
    }
    
    .buttonAddComment{
        width: 10%;
    }

    .alert.alert-danger{
        width: 30%;
        margin: 15px auto;
        font-size: medium;
    }

    .alert.alert-success.createdComment{
        width: 30%;
        margin: 15px auto;
        font-size: medium;
    }
}