.App {
  text-align: center;
  background-color: #C2CBC6;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.home{
  background-color: #C2CBC6;
}

.info{
  background-color: #C2CBC6;
  padding-top: 5px;
}

.userProfile{
  background-color: #C2CBC6;
  padding-top: 5px;
}

.contact{
  background-color: #C2CBC6;
  padding-top: 5px;
}

.register{
  margin-top: 35px;
  background-color: #C2CBC6;
  padding-top: 5px;
}

.login{
  margin-top: 35px;
  background-color: #C2CBC6;
  padding-top: 5px;
}

.comment{
  background-color: #C2CBC6;
  padding-top: 5px;
}

.alertForm{
  background-color: #C2CBC6;
  padding-top: 5px;
}

.alertView{
  background-color: #C2CBC6;
  padding-top: 5px;
}

nav{
  background-color: chartreuse;
  height: 120px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

nav a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin: 5px auto;
}

