.App {
  text-align: center;
  background-color: #C2CBC6;
}

.home{
  background-color: #C2CBC6;
}

.info{
  background-color: #C2CBC6;
  padding-top: 5px;
}

.userProfile{
  background-color: #C2CBC6;
  padding-top: 5px;
}

.contact{
  background-color: #C2CBC6;
  padding-top: 5px;
}

.register{
  margin-top: 35px;
  background-color: #C2CBC6;
  padding-top: 5px;
}

.login{
  margin-top: 35px;
  background-color: #C2CBC6;
  padding-top: 5px;
}

.comment{
  background-color: #C2CBC6;
  padding-top: 5px;
}

.alertForm{
  background-color: #C2CBC6;
  padding-top: 5px;
}

.alertView{
  background-color: #C2CBC6;
  padding-top: 5px;
}
