.alert.alert-secondary.seeAll{
    width: 100%;
}

.loginForm.cpFilter{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

.form-control.inputCpFilter{
    text-align: center;
    width: 50%;
    margin: auto;
}

.btn.btn-light.buttonCpFilter{
    font-size: large;  
    width: 30%;
    margin: 5px auto;
    height: 30px;
    padding: 0;
}

.btn.btn-secondary.deleteCpFilter{
    width: 50%;
    font-size: medium;
    margin: auto;
    margin-top: 20px;
}

.alertStatus {
   padding-bottom: 15px;
   margin: auto;
}

.alertStatus a{
    text-decoration: none;
    color: black;
}

.alertStatus img{
    height: 100%;
    border-radius: 5px;
}

.oneAlertStatus{
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.fotoAlertStatus{
    height: 170px;
    width: 300px;
    margin-top: 10px;
}

.infoAlertStatus{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px auto;
    font-size: large;
}

.alertDate{
    width: 150px;
}

.alertInfo{
    width: 150px;
}

.textAlertStatus{
    font-weight: bold;
}

.encasa{
    background-color: #91C9AB;
    padding-top: 15px;
}

.encontrados{
    background-color: #FEDB72;
    padding-top: 15px;
} 

.perdidos{
    background-color: #F7999A;
    padding-top: 15px;
}

.noPostCode{
    margin-top: 15px;
}

@media screen and (min-width: 960px){
    
    .loginForm.cpFilter{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .form-control.inputCpFilter{
        width: 20%;
        margin: 0;
    }
    
    .btn.btn-light.buttonCpFilter{
        font-size: large;  
        width: 30%;
        margin: 0;
    }
    
    .card.oneAlertStatus{
        width: 35rem;
    }

    .alertStatus {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .alertStatus a{
        text-decoration: none;
        color: black;
    }
    
    .oneAlertStatus{
        margin: 30px auto;
        width: 100%;
        height: 350px;
    }

    .fotoAlertStatus{
        width: 400px;
        height: 68%;
    }

}