.addAlert{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 15px auto;
}

.form-control.inputAddAlert{
    margin: 5px auto;
    width: 90%;
    height: 50px;
    font-size: medium;
}

.form-select.selectAlertType{
    width: 50%;
    margin: 15px auto;
}

.inputRadio{
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    width: 50%;
}

.photoForm{
    margin: 15px auto auto;
}

input.inputPhoto{
    width: 100%;
    font-size: small;
}

.btn.btn-light.buttonCreateAlert{
    width: 50%;
    font-size: larger;
    font-weight: bold;
    margin: 15px auto;
}


@media screen and (min-width: 960px){
    .addAlert{
        width: 30%;
    }
    
    .form-control.inputAddAlert{
        width: 70%;
        height: 50px;
    }
    
    .form-select.selectAlertType{
        height: 50px;
    }
    
    .inputRadio{
        width: 30%;
    }
    
    .photoForm{
        margin: 15px auto;
    }
    
    input.inputPhoto{
        width: 85%;
    }
    
    .btn.btn-light.buttonCreateAlert{
        width: 20%;
    }

    .alert.alert-danger.newAlert{
        width: 50%;

    }
}