.infoPage{
    padding-bottom: 15px;
}

.consejos{
    width: 90%;
    margin: 15px auto;  
}

.consejos p{
    font-size: x-large;
}

.links{
    width: 90%;
    margin: 15px auto;
}

.links p{
    font-size: x-large;
}

li{
    text-align: left;
    margin-bottom: 5px;
}

ol, ul{
    padding-bottom: 5px;
}