.alertView{
    padding-bottom: 15px;
}

.alertViewPhoto{
    width: 80%;
    margin: 15px auto 0px;
    border: none;
    height: 180px;
}

.alertViewPhoto img{
   height: 100%;
   border-radius: 5px;
}

.alertViewButton{
    width: 90%;
    font-size: medium;
    margin: 15px auto;
    border: double;
}

.alertViewButton a{
   text-decoration: none;
   color: black;
}

.alertViewButton p{
    margin: 1% auto;
}

.bold{
    font-weight: bold;
}

.alertViewType{
    border: 1px solid grey;
    background-color: lightgray;
    width: 90%;
    margin: 5px auto 10px;
    height: max-content;
    font-size: x-large;
}

.alertViewInfo{
    width: 90%;
    margin: 5px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

hr{
    width: 90%;
    margin: 15px auto;
}

.alertViewComments{
    width: 90%;
    margin: 15px auto;
    padding-bottom: 15px;
}

.alertViewOneComment{
    background-color: rgb(204, 204, 204);
    width: 90%;
    margin: 15px auto;
}

.oneCommentInfo div{
    padding: 5px;
}

.modalPhoto{
    max-height: 100vh;
}

@media screen and (min-width: 960px){

    .alertView{
        width: 60%;
        display: flex;
        margin: auto;
    }

    .alertViewAllInfo{
        width: 80%;
    }

    .table{
        width: 80%;
    }
    
    .alertViewPhoto{
        width: 80%;
        height: 400px;
    }

    .alertViewButton{
        width: 20%;
    }
    
    .alertViewType{
        width: 70%;
        height: 50px;
        font-size: xx-large;
    }
    
    .alertViewInfo{
        width: 80%;
        font-size: large;
    }
    
    hr{
        width: 50%;
    }
    
    .alertViewComments{
        width: 50%;
    }
}