.updateAnimalPage{
    min-height: 100vh;
}

.passwordPage{
    min-height: 100vh;
}

p.alert.alert-success{
    width: 80%;
    margin: 15px auto;
}
.buttonAddAlert{
    font-size: large;
    width: 80%;
}

.buttonAddAlert a{
    text-decoration: none;
    color: #664d03;
    font-weight: bold;
}

.form-control.userAnimals{
    background-color: transparent;
    border: 1px solid black;
    width: 95%;
    margin: 30px auto;
}

.userAnimals p{
    font-weight: bold;
}

.userAnimals a{
    text-decoration: none;
    color: black;
}

.oneUserAnimal{
    background-color: white;
    width: 95%;
    margin: auto;
    margin-bottom: 5px;
}

.animalUserInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
}

.animalUserPhoto{
    width: 180px;
    height: 100px;
    margin: 10px 0;
}

.animalUserPhoto img{
    height: 100%;
    border-radius: 15px;
}

.animalUserText{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.animalUserText p{
    font-weight: bold;
    margin: auto;
}

.animalUserButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 45px;
}

.alert.alert-success.updateAnimalUserButton{
    font-size: larger;
    width: 40%;
    margin-bottom: 5px;
    padding: 0;
}

.alert.alert-danger.deleteAnimalUserButton{
    font-size: larger;
    width: 40%;
    margin-bottom: 5px;
    padding: 0;
}

.form-control.userComments{
    background-color: transparent;
    border: 1px solid black;
    width: 95%;
    margin: auto;
}

.userComments p{
    font-weight: bold;
}

.oneUserComment{
    background-color: white;
    width: 95%;
    margin: auto;
    margin-bottom: 5px;
}

.commentUserInfo{
    padding-top: 5px;
}

.commentUserInfo div{
    margin: 5px auto;
}

.alert.alert-danger.deleteCommentUserButton{
    border: none;
    width: 30%;
    margin: 15px auto;
    height: 30px;
    padding: 0;
}

.userActions{
    width: 90%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}

.userButtons{
    margin: 10px auto;
    width: 65%;
    font-size: larger;
}

.userButtons a{
    text-decoration: none;
    color: black;
}

.userDeleteButton{
    width: 90%;
    font-size: larger;
    font-weight: bold;
    margin: 30px auto 10px;
}

.changePasswordForm input{
    margin: auto;
    width: 60%;
}

.btn.btn-light.changePasswordButton{
    margin: 15px auto;
    width: 50%;
}

.updateForm{
    display: flex;
    flex-direction: column;
    height: 100vmax;
    margin: 15px auto;
}
.updateForm select{
    width: 80%;
    margin: 15px auto;
}

.updateFormButton{
    width: 30%;
    margin: 15px auto;
}

@media screen and (min-width: 960px){

    p.alert.alert-success{
        font-weight: bold;
        width: 100%;
    }

    .buttonAddAlert{
        width: 10%;
        height: 50px;
    }
     
    .form-control.userAnimals{
        width: 75%;
    }

    .userAnimalsDesktop{
        display: flex;
        flex-wrap: wrap;
    }
    
    .oneUserAnimal{
        background-color: white;
        width: 35%;
        height: 300px;
        margin-bottom: 5px;
    }

    .animalUserInfo{
        width: 100%;
        justify-content: space-between; 
    }
    
    .animalUserPhoto{
        width: 180px;
        height: 200px;
        margin: 10px 5px;
    }
    
    .animalUserText{
        font-size: x-large;
    }

    .alert.alert-danger.deleteAnimalUserButton{
        height: 30px;
        margin-top: 10px;
    }
    
    .form-control.userComments{
        background-color: transparent;
        border: 1px solid black;
        width: 75%;
        margin: auto;
    }
    
    .oneUserComment{
        background-color: white;
        width: 30%;
        height: 220px;
        margin-bottom: 5px;
    }

    .userCommentText{
        font-size: x-large;
    }
    
    .alert.alert-danger.deleteCommentUserButton{
        border: none;
        width: 30%;
        margin: 15px auto;
        height: 40px;
        padding: 0;
        font-size: large;
    }

    .userButtonsDesktop{
        display: flex;
        flex-direction: row;
        width: 50%;
        margin: auto;
        justify-content: space-between;
    }
    
    .userButtons{
        margin: 20px auto;
        width: 40%;
    }

    .alert.alert-danger.userDeleteButton{
        width: 10%;
    }

    .changePasswordForm input{
        width: 20%;
    }
    
    .btn.btn-light.changePasswordButton{
        width: 10%;
    }

    .updateForm select{
        width: 20%;
    }
    
    .updateFormButton{
        width: 10%;
    }

    .alert.alert-success.deleteUser{
        width: 20%;
    }

    .alert.alert-success.changedPassword{
        width: 30%;
        margin: 15px auto;
        font-size: medium;
    }
}