.loginPage{
    min-height: 100vh;
}

.loginForm{
    width: 90%;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
}

.loginInputs{
    margin: 5px auto;
    width: 90%;
    height: 30px;
}

.loginButton{
    width: 50%;
    margin: 15px auto;
    font-size: large;
    font-weight: bold;
}

p.alert.alert-secondary{
    width: 90%;
    margin: 15px auto;
}

@media screen and (min-width: 960px){
    .loginForm{
        width: 60%;
        margin: 5px auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .loginInputs{
        height: 50px;
        width: 30%;
        margin: 35px auto;
    }
    
    .loginButton{
        width: 20%;
        height: 50px;
        font-size: medium;
        font-weight: bold;
    }
    
    p.alert.alert-secondary{
        width: 90%;
        margin: 15px auto;
    }
}